pin-depends: [
    ["bigraph.dev" "git+https://bitbucket.org/royangkr-bigraph/bigraph-tools/src/5872c95e598fdc940207fd8fcccdc44a1373a20f/"]
    ["gbs.dev" "git+https://bitbucket.org/royangkr-bigraph/bigraph-tools/src/5872c95e598fdc940207fd8fcccdc44a1373a20f/"]
    ["minicard.dev" "git+https://bitbucket.org/royangkr-bigraph/bigraph-tools/src/5872c95e598fdc940207fd8fcccdc44a1373a20f/"]
    ["minisat.dev" "git+https://bitbucket.org/royangkr-bigraph/bigraph-tools/src/5872c95e598fdc940207fd8fcccdc44a1373a20f/"]
    ["osm_xml.dev" "git+https://github.com/geocaml/osm_xml#a4032fc527312244d23bdbf9535618b566320780"]
]