pin-depends: [
    ["bigraph.dev" "git+https://bitbucket.org/royangkr-bigraph/bigraph-tools/src/c7f97a21cb09ea7a5ec11c19c596529da81cbd41/"]
    ["gbs.dev" "git+https://bitbucket.org/royangkr-bigraph/bigraph-tools/src/c7f97a21cb09ea7a5ec11c19c596529da81cbd41/"]
    ["minicard.dev" "git+https://bitbucket.org/royangkr-bigraph/bigraph-tools/src/c7f97a21cb09ea7a5ec11c19c596529da81cbd41/"]
    ["minisat.dev" "git+https://bitbucket.org/royangkr-bigraph/bigraph-tools/src/c7f97a21cb09ea7a5ec11c19c596529da81cbd41/"]
    ["osm_xml.dev" "git+https://github.com/geocaml/osm_xml#a4032fc527312244d23bdbf9535618b566320780"]
]