pin-depends: [
    ["bigraph.dev" "git+https://bitbucket.org/royangkr-bigraph/bigraph-tools/src/2e81c5f0192af819e8b3a483ddb2f2ddb7672f4f/"]
    ["gbs.dev" "git+https://bitbucket.org/royangkr-bigraph/bigraph-tools/src/2e81c5f0192af819e8b3a483ddb2f2ddb7672f4f/"]
    ["minicard.dev" "git+https://bitbucket.org/royangkr-bigraph/bigraph-tools/src/2e81c5f0192af819e8b3a483ddb2f2ddb7672f4f/"]
    ["minisat.dev" "git+https://bitbucket.org/royangkr-bigraph/bigraph-tools/src/2e81c5f0192af819e8b3a483ddb2f2ddb7672f4f/"]
    ["osm_xml.dev" "git+https://github.com/geocaml/osm_xml#a4032fc527312244d23bdbf9535618b566320780"]
]