pin-depends: [
    ["bigraph.dev" "git+https://bitbucket.org/uog-bigraph/bigraph-tools#v2"]
    ["gbs.dev" "git+https://bitbucket.org/uog-bigraph/bigraph-tools#v2"]
    ["minicard.dev" "git+https://bitbucket.org/uog-bigraph/bigraph-tools#v2"]
    ["minisat.dev" "git+https://bitbucket.org/uog-bigraph/bigraph-tools#v2"]
    ["osm_xml.dev" "git+https://github.com/geocaml/osm_xml.git#a4032fc527312244d23bdbf9535618b566320780"]
]